// Style Guide Website

// Example Pages
@import 'examples/login';
@import 'examples/signup';
@import 'examples/album';
@import 'examples/upload';
@import 'examples/picture';

.l-sidebar {
  /* Sticky will hit IE edge soonish?, It's in Firefox & Safari, and its coming to Chrome by end of year*/
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;
  top: 50px;
}