// Custom reset

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  margin: 0;
  padding: 0;
  list-style: none;
}

// Base

body {
  font: normal 15px/1.5 $branding;
  background: $secondary-dark;
  color: $secondary-lighter;
  margin: 0;
}

a,
a:link,
a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background: $secondary-darker;
  padding: 1rem;

  @media #{$l-mq-lg} {
		position: fixed;
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 0;
	}
}

.logo {
  margin: 0;
  float: left;
}

.nav-list {
  display: none;
  clear: both;
  text-transform: uppercase;
  font-size: 12px;

  @media #{$l-mq-lg} {
		display: block;
    clear: none;
	}
}

.nav-item {
  padding: .7rem;

  @media #{$l-mq-lg} {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
  }

  a {
    &,
    &:link,
    &:visited {
      color: $secondary-lighter;
    }

    &:hover {
      color: $secondary-lightest;
      text-decoration: none;
      border-bottom: 1px solid pink;
    }
  }
}

#nav-icon-menu {
  font-size: 2rem;
  float: right;

  @media #{$l-mq-lg} {
    display: none;
  }
}

.nav-dropdown {
  display: none;
  position: relative;
  background: $secondary-darkest;
  padding: 1rem;
  max-width: 300px;

  > li {
    margin: 1rem 1rem;
  }

  .nav-list:hover & {
    display: block;
    position: absolute;
    top: 0;
    top: 100%;
  }
}

.pg-container {
  @media #{$l-mq-lg} {
    max-width: 80vw;
    margin: auto;
    position: relative;
  }
}

//  Footer

.footer {
  background: $secondary-dark;
  height: 5em;
  border-bottom: 2px solid $secondary-light;
}

// Helpers

.l-align {
  &--horizontal {
    margin: 0 auto;
  }

  &--vertical {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
  }
}

.l-center-txt {
  text-align: center;
}

.l-float-left {
  float: left;
}

.l-float-right {
  float: right;
}

.l-clear {
  clear: both;
}

.l-inline {
  display: inline-block;
}

.l-hidden {
  display: none;
}

.l-relative {
  position: relative;
}

.l-border-default {
  border: 1px solid $secondary-light;
}

.l-no-margin {
  margin: 0;
}

.l-no-padding {
  padding: 0;
}

$dark-box-shadow: 0 2px 3px 0 rgba(0,0,0,0.10);

.l-box-shadow {
  box-shadow: $dark-box-shadow;
}

.l-horizontal-display {
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.l-vertical-display {
  * {
    display: block;
  }
}