// Mixins

/*
  * For best practices, only use properties which affects the visuals
  * (color, background colors, font-size),
  * as opposed to properties affecting the box
  * (e.g., display, height, width, position) which will affect the positioning
  * of the element
*/

@mixin error-state {
  padding: .5em;
  color: $ui-yellow;
  background: $ui-faded-yellow;
  box-shadow: $dark-box-shadow;
  transition: 400ms;
}

@mixin btn {
  color: $secondary-lighter;
  font-size: 14px;
  padding: $btn-size-default;
  border-radius: 2px;
  text-align: center;
  border: 0;
  cursor: pointer;
}

@mixin form-ui {
  background: $secondary-light;
  box-shadow: $dark-box-shadow;
}
