// Form elements

select {
  @include form-ui;

  -webkit-appearance: none;
  color: $primary-color-dark;
  width: 120px;
  border-radius: 0;
  border: 0;
  padding: 5px;

  &:after{
    content:'\e91b' ;
    font-family: 'icomoon';
  }
}

input{
  @include form-ui;
  border: 1px solid $secondary-color-light;
  height: auto;
  width: auto;
  color: $secondary-color-lighter;
  
  &[type="text"] {
    width: 300px;
    padding: 10px;
    font-size: 14px;
  }

  &.error{
    @include error-state;
  }
}

input[type="checkbox"] {
   -webkit-appearance: none;
  border: 1px solid $secondary-color-light;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  float: left;
}

input[type="checkbox"] + label {
    margin: 5px 0 0 10px;
    display: inline-block;
}

input[type="checkbox"]:checked:after {
  color: $primary-color;
  content: ' ';
  display: inline-block;
  padding: 4px 7px;
  transform: scale(1.4);
  transition: 0.5s all;
}

input[type="radio"] {
 -webkit-appearance: none;
  background: transparent;
  border: 2px solid $secondary-color-light;
  height: 20px;
  width: 20px;
  border-radius: 50%;
}

input[type="radio"] + label {
  margin: 5px 0 0 10px;
  display: inline-block;
}

input[type="radio"]:checked {
  background: $primary-color;
  border: 4px solid $secondary-color-light;
  transition: 0.08s all;
}

input:focus, textarea:focus {
  background: $secondary-color-dark;
  outline: none;
}

textarea {
  min-width: 100%;
  min-height: 135px;
  background: $secondary-color-light;
  box-shadow: $dark-box-shadow;
  border: 1px solid $secondary-color-light;
  padding: 10px;
  color: $secondary-color-lighter;
  font-size: 14px;
  display: block;
}

:placeholder-shown {
  font-size: 13px;
  opacity: 0.4;
}

// Buttons

button,
.btn {
  @include btn;
  background: $primary-color-dark;
  border: 1px solid transparent;
  
  &:hover{
    background: darken($primary-color-dark, 4%);
  }
}

.btn_secondary {
  @include btn;
  
  @include grey-btn;
    border: 1px solid transparent;
    
   &:hover{
      background: darken($secondary-color-light, 10%);
      color: $secondary-color-lighter;
  }
}
.btn_tertiary {
  @include btn;
    border: 1px solid $secondary-color-light;
    color: $secondary-color-lighter;
    padding: $btn-size-default;
    
    &:hover{
      border: 1px solid $secondary-color-lighter;
      color: $secondary-color-lighter;
    }
}

.btn.small,
.btn_secondary.small,
.btn_tertiary.small {
  padding: $btn-small;
}

.btn_disabled {
  opacity: 0.5;
}

// UI ELEMENTS
// Tooltips

.tooltip {
  width: 150px;
  background: $secondary-color-light;
  border-radius: 4px;
  padding: 10px;
  position: relative;
}

.tooltip--top {
  @extend .tooltip;

  &:before {
    content: '';
    border: 10px solid transparent;
    border-bottom: 10px solid $secondary-color-light;
    position: absolute;
    top: -20px;
  }
}

.tooltip--right {
 @extend .tooltip;
 &:before {
    content: '';
    border: 10px solid transparent;
    border-left: 10px solid $secondary-color-light;
    position: absolute;
    right: -20px;
  }
}

.tooltip--bottom {
  @extend .tooltip;

  &:before{
    content: '';
    border: 10px solid transparent;
    border-top: 10px solid $secondary-color-light;
    position: absolute;
    bottom: -20px;
  }
}

.tooltip--left {
  @extend .tooltip;

  &:before{
    content: '';
    border: 10px solid transparent;
    border-right: 10px solid $secondary-color-light;
    position: absolute;
    left: -20px;
  }
}

// Modals


.modal_overlay {
  background: $bg-filter;
  opacity: 0.9;
  height: 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: 400ms;
}

.modal.active{
  z-index: 1000;
  position: relative;
}

.modal_dialog_container{
   width: 440px;
   min-height: 120px;
   background: $secondary-color-light;
   position: relative;
   box-shadow: $dark-box-shadow;

  .title_bar,
  .modal_body,
  .modal_action_btns {
    padding: 10px 15px 0 15px;
  }


  .modal_body {
      padding-bottom: 25px;
  }

  .modal_action_btns {
      padding-bottom: 15px;
  }

  .title_bar {
    background: #464646;
    height: 40px;

    .icon-remove{
      float: right;
      margin-top: 3px;
      font-size: 1.5em;
      cursor: pointer;
    }

    .icon-remove, .modal_title{
      display: inline-block;
      vertical-align: top;
    }
  }

  .modal_action_btns{
    float: right;
    margin: 0 auto;

    .btn {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
  }
}

// Tabs

.tabui {
  border-bottom: 2px solid $secondary-color-light;
  
  .tabui_item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background: $secondary-color-light;
    min-width: 120px;
    margin-left: -2px;
    padding: 5px;
    cursor: pointer;
    
    &:hover, &:active {
      background: $secondary-color-dark;
    }
    
    &--default {
    background: $secondary-color-light;
    }
  
    &--active{
      background: $secondary-color-dark;
      border-bottom: 2px solid $primary-color-dark;
    }
  }
}

