// Notices

.notice {
  background: $secondary-color-light;
  color: $ui-color-yellow-light;
  padding: .5em;
}

// States

.success {
  color: $ui-color-green;
  padding: 10px;
  background: $ui-color-faded-green;
  box-shadow: $dark-box-shadow;

  &:before {
    content: "\e926";
    font-family: icomoon;
    vertical-align: middle;
  }
}

.error {
  @include error-state;

  &:before{
    content: "\f02d";
    font-family: icomoon;
    vertical-align: middle;
  }
}

.error_txt {
  color: $ui-color-yellow;

  &:before {
    content: "\f02d";
    font-family: icomoon;
    vertical-align: middle;
  }
}

.blank_state {
  background: $secondary-color-light;
  padding: 10px;
  &:before{
    content: "\e908";
    font-family: icomoon;
    vertical-align: middle;
  }
}

 // ------ Misc


.filter {
  &--dark {
    background: rgba(0, 0, 0, 0.56);
  }
}

.box-shadow--dark{
  box-shadow: -1px 3px 8px 3px #1D1D1D;
}

.position--right {
  position: absolute;
  right: -151px;
  min-width: 32%;
}