
// Typography

$branding: 'Karla', sans-serif;
$branding-normal: 300;
$branding-semi-bold: 600;
$branding-bold: 700;

$base-unit: 1em;


h1 {
	font-size: 2.5625rem;
 	font-weight: 200;
}

h2 {
	font-size: 1.5625em; // 23px;
}

h3 {
	font-size: 1.25em; // 20px;
}

h4 {
	font-size: 1em; // 16px;
}

h5 {
	font-size: 0.8125em; 	//13px;
}

h6 {
	font-size: 0.625em; // 10px;
}

.l-body {
	font: normal 15px/1.5 $branding;
}

.l-fineprint {
  font-size: .7em;
}

.l-text {
	&--loud {
		font-weight: bold;
	}

	&--quiet {

	}

	&--xtr-quiet {
		color: $secondary-light;
	}
}

.l-hide-txt {
	font-size: 0;
}