// Buttons
$btn-sm: .3em 1.5em .3em 1.5em;
$btn-lg: 1em 6em 1em 6em;
$btn-size-default: 10px 25px 10px 25px;


@mixin btn {
  border-radius: 2px;
  text-align: center;
  cursor: pointer;
  color: $secondary-lighter;
}

.l-btn {
  @include btn;

  color: $secondary-lighter;
  background: $primary-dark;
  border: 1px solid transparent;
  padding: $btn-size-default;

  &:hover{
    background: darken($primary-dark, 4%);
  }
}

.l-btn-secondary {
  @include btn;

  background: $secondary-light;
  border: 1px solid transparent;
  padding: $btn-size-default;

  &:hover{
    background: $secondary-darker;
  }
}

.l-btn-ghost {
  @include btn;

  background: transparent;
  border: 1px solid $secondary-light;
  padding: $btn-size-default;

  &:hover{
    border: 1px solid $secondary-lighter;
  }
}

.l-btn,
.l-btn-secondary,
.l-btn-ghost {
  &--small {
    padding: $btn-sm;
  }

  &--large {
    padding: $btn-lg;
  }
}

.l-btn-disabled {
  background-color: $secondary-lighter;
  color: $secondary-dark;
  padding: $btn-size-default;
  opacity: .2;
  cursor: default;
  border: 0;
  focus: none;
  outline: 0;

  &--small {
    padding: $btn-sm;
  }

  &--large {
    padding: $btn-lg;
  }
}