// Inputs

.l-input {
  @include l-form-ui;

  border: 1px solid $secondary-light;
  color: $secondary-lighter;

  &[type="text"],
  &[type="email"],
  &[type="password"] {
    padding: 1rem;
    font-size: 14px;
  }

  &.l-error {
    background: $ui-faded-yellow;
  }
}

.l-input {
  &:focus{
    background: $secondary-dark;
    outline: none;
  }
}

.l-fullwidth {
  width: 100%;
}

.l-fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

*:placeholder-shown {
  font-size: 13px;
}