@import '../styles/vars/colors';
@import '../styles/layout/row';

// ++++++++ Album page +++++++++++ //

.albumlist_container {
  div {
    height: 300px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}