@import '../styles/vars/mq';

// ++++++++  LOGIN +++++++++++ //

.menu_btn {
  &:hover {
    border-bottom: 0 !important;
    transition: 400ms;
  }
}

.form_component {
  margin-bottom: .7em;

  .form_component-label {
    display: none;
  }

  .icon-check {
    float: right;
    margin: -26px 10px 0 0;
  }
}

.login_wrapper {
  background: url('/assets/images/wide/jetty-landing-stage-sea-sky.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  padding: 1em;

  @media #{$l-mq-lg} {
    padding: 7em;
  }
}

.login_form {
  margin-top: 3em;
  padding: 1em;
  position: relative;

  @media #{$l-mq-lg} {
    max-width: 50%;
    padding: 4em;
    margin: 0 auto;
  }
}