@import '../styles/vars/colors';

// ++++++++ Picture page +++++++++++ //

// Breadcrumbs

.breadcrumb_container {
  font-size: .8rem;
}

.breadcrumb_link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $secondary-lighter;
    cursor: pointer;
  }
  &:hover {
    color: $secondary-lightest;
  }
}

.single_img {
  width: 100%;
}

.ad {
    height: 300px;
    background: $secondary-darker;
}

.current_img {
  border: 1px dotted $secondary-light;
  padding: .3rem .7rem;
  cursor: pointer;
  background: transparent;
}

.stream_navbtn {
  height: 72px;
}

.top_container {
  margin-top: 2rem;
}