@import '../styles/vars/colors';

// ++++++++ Picture page +++++++++++ //

// Breadcrumbs

.breadcrumb_container {
  font-size: .8rem;

  * {
    vertical-align: middle;
  }
}

.breadcrumb_link {
  &,
  &:link,
  &:visited {
    text-decoration: none;
    color: $secondary-lighter;
    cursor: pointer;
  }
  &:hover {
    color: $secondary-lightest;
  }
}

// FilmStrip

.stream_wrapper {
  border-right: 1px solid $secondary-light;
  border-left: 1px solid $secondary-light;
}

.stream {
  opacity: .2;

  &:hover {
    opacity: 1;
    transition: .2s;
  }
}

.stream_img {
  cursor: pointer;
  width: 70px;
}

.current_in_stream {
  opacity: 1;
  padding-left: .5rem;
}

.stream_navbtn {
  padding: 1rem;
  border: 1px solid transparent;
}

// Picture

.single_img {
  width: 100%;
}

.current_img {
  border: 1px dotted $secondary-light;
  padding: .3rem .7rem;
  cursor: pointer;
  background: transparent;
}

.top_container {
  margin-top: 2rem;
}

// Ads

.ad_wrapper {
  padding-left: 2.5rem;
  padding-right: 1rem;
}

.ad {
    height: 300px;
    background: $secondary-darker;
    // Hide wording
    color: $secondary-darker;
}

