@import '../styles/vars/mq';

.register_wrapper {
  background: url('/assets/images/wide/sunset-panorama.jpg') no-repeat;
  background-size: cover;
  height: 100vh;

  @media #{$l-mq-lg} {
    min-height: 900px;
  }
}

.register_form {
  padding: 4em;
  position: relative;
}

