@import '../styles/vars/mq';

.register_wrapper {
  background: url('/assets/signup-bg.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  padding-top: 7em;

  @media #{$l-mq-lg} {
    min-height: 900px;
  }
}

.register_form {
  padding: 4em;
  position: relative;
}

.logo {
  background: #74001F;
}