// User avatar

.l-avatarandusername--horizontal {
  * {
    display: inline-block;
    vertical-align: top;
  }
}

.l-avatarandusername--vertical {
  * {
    display: block;
  }
}

.l-avatar {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  @extend .l-box-shadow;

  &--large {
    height: 70px;
    width: 70px;
  }
}