// Card UI

.l-card {
  &--comments {
    img {
      margin-top: 1rem;
    }
  }

  &--user {

  }

  &--album {

  }

  &--message {

  }
}

.l-card-wrapper {
  margin-bottom: 1rem;
  padding: 1rem;
}

.l-card-avatar {
  float: left;
  margin-right: 1rem;
}
