// Card UI
.l-card {
  &--comment {
    img {
      margin-top: 1rem;
    }
  }

  &--user {
    // Your code here
  }

  &--album {
    // Your code here
  }

  &--message {
    // Your code here
  }
}

.l-card-avatar {
  float: left;
  margin-right: 1rem;
}
