// Card UI

.l-card-wrapper {
  border: 1px solid $secondary-light;
  padding: 1rem;
  margin-bottom: 1rem;
}

.l-card-description {
 // margin: 0;
}

.l-card-avatar {
  float: left;
  margin-right: 1rem;
}
