// Modals

$bg-filter: rgba(33,32,32,0.90);

.l-modal-overlay {
  background: $bg-filter;
  height: 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: 400ms;
  top: 0;
  left: 0;
}

.l-modal {
  position: relative;
  z-index: 1000;
}

.l-modal-dialog-container {
  z-index: 1001;
  max-width: 40%;
  min-height: 20%;
  min-width: 440px;
  position: relative;
  background: $secondary-color;
}

.l-modal-title-bar {
  line-height: 2.5;

  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.l-modal-close-btn {
  cursor: pointer;
  float: right;
  margin-top: 12px;
  font-size: 1.5rem;
}

.l-modal-title {
  margin: 0;
}

.l-modal-body {
  min-height: 125px;
}

.l-modal-action-btns {
  padding-bottom: 15px;
  float: right;
  margin: 0 auto;

  * {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
}

.l-filter {
  &--dark {
    background: rgba(0, 0, 0, 0.56);
  }
}
