// Modals

$bg-filter: rgba(33, 32, 32, 0.90);

.l-modal-overlay {
  background: $bg-filter;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: 400ms;
  width: 100%;
  z-index: 999;
}

.l-modal {
  position: relative;
  z-index: 1000;
}

.l-modal-dialog-container {
  background: $secondary-color;
  max-width: 40%;
  min-height: 20%;
  min-width: 440px;
  position: relative;
  z-index: 1001;
}

.l-modal-title-bar {
  line-height: 2.5;

  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.l-modal-close-btn {
  cursor: pointer;
  float: right;
  font-size: 1.5rem;
  margin-top: 12px;
}

.l-modal-title {
  margin: 0;
}

.l-modal-body {
  min-height: 125px;
}

.l-modal-action-btns {
  float: right;
  margin: 0 auto;
  padding-bottom: 15px;

  * {
    display: inline-block;
    margin-right: 10px;
    vertical-align: top;
  }
}

.l-filter {
  &--dark {
    background: rgba(0, 0, 0, 0.56);
  }
}
