@import "../vars/colors";

// Sidebar
.l-sidebar-wrapper {
  position: relative;
}

.l-sidebar {
  border-right: 1px solid $secondary-light;
  line-height: 2.3;

  @media #{$l-mq-lg} {
    height: 100vh;
  }
}