@import "../vars/colors";

// Sidebar
.l-sidebar-wrapper {
  position: relative;
}

.l-sidebar {
  border-right: 1px solid $secondary-light;
  height: 100vh;
  line-height: 2.3;
}

// Vertical Menu
@mixin vertical-menu-color {
  color: $secondary-lighter;
  &:hover {
    color: $secondary-lightest;
  }
}

.l-vmenu{
  margin: 0;
  padding: 0;

  .l-vmenu-item {
    background: $secondary-color;
    border-bottom: 1px solid $secondary-light;
    cursor: pointer;
    padding: 5px 8px 5px 8px;
    transition: 400ms;
    display: block;

    /** Menu items can be more complex than a single link, so let's make sure the style remains consistent for links within them */
    &,
    a {
      @include vertical-menu-color;
    }
    &:hover {
      background: $secondary-light;
      &,
      a {
        color: $secondary-lightest;
      }
    }
    &--active, &:active {
      background: $secondary-dark;
      border-bottom: 1px solid $primary-dark;
      color: $secondary-lightest;
      margin-right: -1px;
    }
    &--primary {
      background: $ui-blue;
      padding: 5px 8px 5px 8px;
      &:hover {
        background: lighten($ui-blue, 10%);
        &,
        a {
          color: $secondary-lightest;
        }
      }
    }
  }
}



