// Tabs

.tabui {
  border-bottom: 2px solid $secondary-light;

  .tabui_item {
    background: $secondary-light;
    cursor: pointer;
    display: inline-block;
    margin-left: -2px;
    min-width: 120px;
    padding: 5px;
    text-align: center;
    vertical-align: top;

    &:hover, &:active {
      background: $secondary-dark;
    }

    &--default {
      background: $secondary-light;
    }

    &--active {
      background: $secondary-dark;
      border-bottom: 2px solid $primary-dark;
    }
  }
}
