// Tooltips
$arrow: .625rem;

.l-tooltip-container {
  pointer-events: none;
  position: relative;
  transition: 400ms;

  * {
    pointer-events: auto;
  }
}

.l-tooltip {
  background: $secondary-light;
  border-radius: 4px;
  min-width: 8rem;
  padding: 0 1rem;
  pointer-events: auto;
  position: absolute;
  z-index: 1;

  &--top {
    bottom: 100%;
    left: 50%;
    margin-bottom: 1rem;
    transform: translateX(-50%);

    &:after {
      border: $arrow solid transparent;
      border-top: $arrow solid $secondary-light;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &--right {
    left: 100%;
    margin-left: 1em;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      border: $arrow solid transparent;
      border-right: $arrow solid $secondary-light;
      content: '';
      display: block;
      position: absolute;
      right: 100%;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--bottom {
    margin-top: 1em;
    right: 50%;
    top: 100%;
    transform: translateX(50%);

    &:after {
      border: $arrow solid transparent;
      border-bottom: $arrow solid $secondary-light;
      bottom: 100%;
      content: '';
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--left {
    margin-right: 1rem;
    right: 100%;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      border: $arrow solid transparent;
      border-left: $arrow solid $secondary-light;
      content: '';
      left: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.l-tooltip-content {
  cursor: pointer;
  display: inline-block;
  position: relative;
}
