$l-mq-sm: 'screen and (min-width: 30em)';
$l-mq-md: 'screen and (min-width: 50em)';
$l-mq-lg: 'screen and (min-width: 80em)';

// Example Use
// ===========
//
// mq variables will need to be interpolated like so:
//
// @media #{$l-mq-sm} {
//   div {
//     color: red;
//   }
// }


$l-breakpoints: (
  sm: $l-mq-sm,
  md: $l-mq-md,
  lg: $l-mq-lg
);
