$l-mq-sm: 'screen and (min-width: 30em)';
$l-mq-md: 'screen and (min-width: 50em)';
$l-mq-lg: 'screen and (min-width: 70em)';


.register_wrapper {
  background: url('assets/signup-bg.jpg') no-repeat;
  background-size: cover;
  padding-top: 7em;

  @media #{$l-mq-lg} {
    min-height: 900px;
  }
}

.register_form {
  position: relative;
  padding: 4em;
}

.logo {
  background: #74001F;
}
