// Card UI

.l-card-wrapper {
  border: 1px solid $secondary-light;
  padding: 1rem;
  width: 95%;
  margin-bottom: 1rem;
}

.l-card-item {

}

.l-card-link {

}

.l-card-description {

}

.l-card-avatar {
  float: left;
  margin-right: 1rem;
}

.l-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
