// Modals
.modal_overlay {
  background: $bg-filter;
  opacity: 0.9;
  height: 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: 400ms;
}

.modal.active {
  z-index: 1000;
  position: relative;
}

.modal_dialog_container {
   width: 440px;
   min-height: 120px;
   background: $secondary-light;
   position: relative;
   box-shadow: $dark-box-shadow;

  .title_bar,
  .modal_body,
  .modal_action_btns {
    padding: 10px 15px 0 15px;
  }

  .modal_body {
    padding-bottom: 25px;
  }

  .modal_title {
    margin: 0;
    padding: 0;
  }

  .modal_action_btns {
      padding-bottom: 15px;
  }

  .title_bar {
    background: #464646;
    height: 40px;

    .icon-remove {
      float: right;
      margin-top: 3px;
      font-size: 1.5em;
      cursor: pointer;
    }

    .icon-remove,
    .modal_title  {
      display: inline-block;
      vertical-align: top;
    }
  }

  .modal_action_btns {
    float: right;
    margin: 0 auto;

    .l-btn {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px;
    }
  }
}

.filter {
  &--dark {
    background: rgba(0, 0, 0, 0.56);
  }
}
