// Modals

$bg-filter: rgba(33,32,32,0.98);

.l-modal-overlay {
  background: $bg-filter;
  opacity: 0.9;
  height: 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: 400ms;
}

.l-modal {
  &.active {
    z-index: 1000;
    position: relative;
  }
}

.l-modal-dialog-container {
  width: 440px;
  min-height: 120px;
  background: $secondary-darker;
  position: relative;
  box-shadow: $dark-box-shadow;

  .l-modal-title {
    padding-top: 1rem;
    height: 40px;

    .icon-remove {
      float: right;
      margin-top: 3px;
      //font-size: 1.5em;
      cursor: pointer;
    }

    .icon-remove & {
      display: inline-block;
      vertical-align: top;
    }
  }
}

.l-modal-action-btns {
  padding-bottom: 15px;
  float: right;
  margin: 0 auto;

  .l-btn {
    display: inline-block;
    vertical-align: top;
    margin-right: 10px;
  }
}

.l-filter {
  &--dark {
    background: rgba(0, 0, 0, 0.56);
  }
}
