// Sidebar
.l-sidebar-wrapper {
  position: relative;
}

.l-sidebar {
  height: 1000vh;
  width: 16rem;
  float: left;

  //left: 0;
  //position: absolute;
  //right: 0;
  //top: 0;
  //z-index: -5;

  a {
    display: block;
    margin: 10px 0;
  }

  ul {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type:none;
    }

    a {
      font-size: 1rem;
    }
  }
}
