// Sidebar
.l-sidebar-wrapper {
  position: relative;
}

.l-sidebar {
  height: 100vh;
}

ul.menu--vertical {
  margin-left: 0;
  padding-left: 0;

  li {
    list-style-type: none;
  }

  a {
    font-size: 1rem;
    display: block;
    margin: 10px 0;
  }
}
