// Tooltips
$arrow: .625rem;

.l-tooltip-container {
  position: relative;
  transition: 400ms;
}

.l-tooltip {
  position: absolute;
  padding: 0 1rem;
  visibility: hidden;
  z-index: 1;
  background: $secondary-light;
  border-radius: 4px;
  width: 100%;
  max-width: 13rem;

  &--top {
    bottom: 100%;
   left: 50%;
    transform: translateX(-50%);

    &:after {
      border: $arrow solid transparent;
      border-top: $arrow solid $secondary-light;
      content: '';
      display: block;
      left: 50%;
      position: absolute;
      top: 100%;
      transform: translateX(-50%);
    }
  }

  &--right {
    left: 100%;
    top: 50%;
    transform: translateY(-50%);

    &:before {
      border: $arrow solid transparent;
      border-right: $arrow solid $secondary-light;
      content: '';
      display: block;
      right: 100%;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &--bottom {
    top: 100%;
    right: 50%;
    transform: translateX(50%);

    &:after {
      border: $arrow solid transparent;
      border-bottom: $arrow solid $secondary-light;
      content: '';
      bottom: 100%;
      position: absolute;
      right: 50%;
      transform: translateX(50%);
    }
  }

  &--left {
    right: 100%;
    transform: translateY(-50%);
    top: 50%;
    margin-right: 1rem;

    &:before {
      border: $arrow solid transparent;
      border-left: $arrow solid $secondary-light;
      content: '';
      left: 100%;
      position: absolute;
      transform: translateY(-50%);
      top: 50%;
    }
  }

  .l-tooltip-container:hover & {
    visibility: visible;
  }
}
