@import '../App/styles/var/colors';
@import '../App/styles/row';

// ++++++++ Album page +++++++++++ //

.albumlist_container {
  div {
    height: 300px;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
}

.l-sidebar {
  border-right: 1px solid $secondary-light;
}