// Color Variables
$primary-color: #FF97A3;
$primary-light: #EEE2E2;
$primary-dark: #923939;

$secondary-color: #262626;
$secondary-light: #3A3A3A;
$secondary-lighter: #C1C1C1;
$secondary-lightest: #FFFFFF;
$secondary-dark: #212121;
$secondary-darker: #191919;
$secondary-darkest: #000000;

$ui-blue: #4B889D;
$ui-green: #70AE47;
$ui-yellow: #D8AF43;
$ui-yellow-light: #DDCA7E;
$ui-faded-green: rgba(112,174,71,0.22);
$ui-faded-yellow:  rgba(216,175,67,0.15);
$ui-faded-blue: rgba(75, 136, 157, 0.13);

$sitecolors: (
	primary-color: $primary-color,
	primary--light: $primary-light,
	primary--dark: $primary-dark,

	secondary-color: $secondary-color,
	secondary--light: $secondary-light,
	secondary--lighter: $secondary-lighter,
	secondary--lightest: $secondary-lightest,
	secondary--dark: $secondary-dark,
	secondary--darker: $secondary-darker,
	secondary--darkest: $secondary-darkest,

	ui-blue: $ui-blue,
	ui-green: $ui-green,
	ui-yellow: $ui-yellow,
	ui-yellow--light: $ui-yellow-light,

	ui-faded-green: $ui-faded-green,
	ui-faded-yellow: $ui-faded-yellow,
	ui-faded-blue: $ui-faded-blue
);
