@import 'fonts/icomoon/style.css';

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

// Base

body {
  font: normal 15px/1.5 $branding;
  background: $secondary-dark;
  color: $secondary-lighter;
  margin: 0;
}

a,
a:link,
a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.logo {
  margin: 0;
}

.nav_container {
  li {
    display: inline-block;
    vertical-align: top;
    margin-left: 1em;

    a {
      &,
      &:link,
      &:visited {
        color: $secondary-lighter;
      }

      &:hover {
        color: $secondary-lightest;
        text-decoration: none;
        border-bottom: 1px solid pink;
      }
    }
  }
}

.pg_container {
  max-width: 75em;
  margin: auto;
  position: relative;

}

//  Footer

.footer {
  background: $secondary-dark;
  height: 5em;
  border-bottom: 2px solid $secondary-light;
}

//Helpers

.center {
  text-align: center;
}

.float_left {
  float: left;
}

.float_right {
  float: right;
}

.clear {
  clear: both;
}

.inline {
  display: inline-block;
}

.hidden {
  display: none;
}

.relative {
  position: relative;
}

.nomargin {
  margin: 0;
}

.l-border {
  border: 1px solid $secondary-light;
}
