@charset "UTF-8";
@import url(fonts/icomoon/style.css);
.primary_color {
  background-color: #FF97A3; }
  .primary_color--light {
    background-color: #EEE2E2; }
  .primary_color--dark {
    background-color: #923939; }

.secondary_color {
  background-color: #262626; }
  .secondary_color--light {
    background-color: #3A3A3A; }
  .secondary_color--lighter {
    background-color: #C1C1C1; }
  .secondary_color--lightest {
    background-color: #FFFFFF; }
  .secondary_color--dark {
    background-color: #212121; }

.sitecolor--primary-color {
  background-color: #FF97A3; }

.sitecolor--primary-color-light {
  background-color: #EEE2E2; }

.sitecolor--primary-color-dark {
  background-color: #923939; }

.sitecolor--secondary-color {
  background-color: #262626; }

.sitecolor--secondary-color-light {
  background-color: #3A3A3A; }

.sitecolor--secondary-color-lighter {
  background-color: #C1C1C1; }

.sitecolor--secondary-color-dark {
  background-color: #212121; }

.sitecolor--ui-color-blue {
  background-color: #4B889D; }

.sitecolor--ui-color-green {
  background-color: #70AE47; }

.sitecolor--ui-color-yellow {
  background-color: #D8AF43; }

.sitecolor--ui-color-darkred {
  background-color: #923939; }

/*
  * For best practice, only use properties which affects the visuals
  * (color, background colors, font-size),
  * as opposed to properties affecting the box
  * (e.g., display, height, width, position) which will affect the positioning
  * of the element
*/
h1 {
  font-size: 1.5625em; }

h2 {
  font-size: 1.5625em; }

h3 {
  font-size: 1.25em; }

h4 {
  font-size: 1em; }

h5 {
  font-size: 0.8125em; }

h6 {
  font-size: 0.625em; }

.l-body {
  font: normal 15px/1.5 "Karla", sans-serif; }

.l-fineprint {
  font-size: .7em; }

html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: border-box; }

body {
  font: normal 15px/1.5 "Karla", sans-serif;
  background: #262626;
  color: #C1C1C1; }

a,
a:link,
a:visited {
  color: #FF97A3;
  text-decoration: none; }

a:hover {
  text-decoration: underline; }

.header {
  background: #212121;
  border-bottom: 2px solid #3A3A3A;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3; }

.logo {
  margin: 0; }

.nav_container li {
  display: inline-block;
  vertical-align: top;
  margin-right: 1em; }
  .nav_container li a, .nav_container li a:link, .nav_container li a:visited {
    color: #C1C1C1; }
  .nav_container li a:hover {
    color: #FFFFFF;
    text-decoration: none;
    border-bottom: 1px solid pink; }

.pg_container {
  max-width: 1280px;
  margin: 0 auto;
  position: relative; }

.footer {
  background: #212121;
  height: 5em;
  border-bottom: 2px solid #3A3A3A; }

.center {
  text-align: center; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.clear {
  clear: both; }

.inline {
  display: inline-block; }

.hidden {
  display: none; }

.relative {
  position: relative; }

select {
  background: #3A3A3A;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  color: #923939;
  width: 120px;
  border-radius: 0;
  border: 0;
  padding: 5px; }
  select:after {
    content: "";
    font-family: 'icomoon'; }

input {
  background: #3A3A3A;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #3A3A3A;
  height: auto;
  width: auto;
  color: #C1C1C1; }
  input[type="text"], input[type="email"], input[type="password"] {
    width: 100%;
    padding: 10px;
    font-size: 14px; }
  input.error {
    padding: 10px;
    color: #D8AF43;
    background: rgba(216, 175, 67, 0.15);
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  input--fullwidth {
    width: 100%; }

input[type="checkbox"] {
  -webkit-appearance: none;
  border: 1px solid #3A3A3A;
  border-radius: 3px;
  height: 25px;
  width: 25px;
  float: left; }

input[type="checkbox"] + label {
  margin: 5px 0 0 10px;
  display: inline-block; }

input[type="checkbox"]:checked:after {
  color: #FF97A3;
  content: ' ';
  display: inline-block;
  padding: 4px 7px;
  transform: scale(1.4);
  transition: 0.5s all; }

input[type="radio"] {
  -webkit-appearance: none;
  background: transparent;
  border: 2px solid #3A3A3A;
  height: 20px;
  width: 20px;
  border-radius: 50%; }

input[type="radio"] + label {
  margin: 5px 0 0 10px;
  display: inline-block; }

input[type="radio"]:checked {
  background: #FF97A3;
  border: 4px solid #3A3A3A;
  transition: 0.08s all; }

input:focus, textarea:focus {
  background: #212121;
  outline: none; }

textarea {
  min-width: 100%;
  min-height: 135px;
  background: #3A3A3A;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1);
  border: 1px solid #3A3A3A;
  padding: 10px;
  color: #C1C1C1;
  font-size: 14px;
  display: block; }

:placeholder-shown {
  font-size: 13px;
  opacity: 0.4; }

button,
.btn {
  color: #C1C1C1;
  font-size: 14px;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #923939;
  border: 1px solid transparent; }
  button:hover,
  .btn:hover {
    background: #833333; }

.btn_secondary {
  color: #C1C1C1;
  font-size: 14px;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  text-align: center;
  border: 0;
  cursor: pointer;
  background: #3A3A3A;
  border: 1px solid transparent; }
  .btn_secondary:hover {
    background: #212121;
    color: #C1C1C1; }

.btn_tertiary {
  color: #C1C1C1;
  font-size: 14px;
  padding: 10px 25px 10px 25px;
  border-radius: 2px;
  text-align: center;
  border: 0;
  cursor: pointer;
  border: 1px solid #3A3A3A;
  color: #C1C1C1;
  padding: 10px 25px 10px 25px; }
  .btn_tertiary:hover {
    border: 1px solid #C1C1C1;
    color: #C1C1C1; }

.btn.small,
.btn_secondary.small,
.btn_tertiary.small {
  padding: 5px; }

.btn_disabled {
  opacity: 0.5; }

.tooltip, .tooltip--top, .tooltip--right, .tooltip--bottom, .tooltip--left {
  width: 150px;
  background: #3A3A3A;
  border-radius: 4px;
  padding: 10px;
  position: relative; }

.tooltip--top:before {
  content: '';
  border: 10px solid transparent;
  border-bottom: 10px solid #3A3A3A;
  position: absolute;
  top: -20px; }

.tooltip--right:before {
  content: '';
  border: 10px solid transparent;
  border-left: 10px solid #3A3A3A;
  position: absolute;
  right: -20px; }

.tooltip--bottom:before {
  content: '';
  border: 10px solid transparent;
  border-top: 10px solid #3A3A3A;
  position: absolute;
  bottom: -20px; }

.tooltip--left:before {
  content: '';
  border: 10px solid transparent;
  border-right: 10px solid #3A3A3A;
  position: absolute;
  left: -20px; }

.modal_overlay {
  background: rgba(33, 32, 32, 0.98);
  opacity: 0.9;
  height: 100%;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: 400ms; }

.modal.active {
  z-index: 1000;
  position: relative; }

.modal_dialog_container {
  width: 440px;
  min-height: 120px;
  background: #3A3A3A;
  position: relative;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  .modal_dialog_container .title_bar,
  .modal_dialog_container .modal_body,
  .modal_dialog_container .modal_action_btns {
    padding: 10px 15px 0 15px; }
  .modal_dialog_container .modal_body {
    padding-bottom: 25px; }
  .modal_dialog_container .modal_title {
    margin: 0;
    padding: 0; }
  .modal_dialog_container .modal_action_btns {
    padding-bottom: 15px; }
  .modal_dialog_container .title_bar {
    background: #464646;
    height: 40px; }
    .modal_dialog_container .title_bar .icon-remove {
      float: right;
      margin-top: 3px;
      font-size: 1.5em;
      cursor: pointer; }
    .modal_dialog_container .title_bar .icon-remove, .modal_dialog_container .title_bar .modal_title {
      display: inline-block;
      vertical-align: top; }
  .modal_dialog_container .modal_action_btns {
    float: right;
    margin: 0 auto; }
    .modal_dialog_container .modal_action_btns .btn {
      display: inline-block;
      vertical-align: top;
      margin-right: 10px; }

.tabui {
  border-bottom: 2px solid #3A3A3A; }
  .tabui .tabui_item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background: #3A3A3A;
    min-width: 120px;
    margin-left: -2px;
    padding: 5px;
    cursor: pointer; }
    .tabui .tabui_item:hover, .tabui .tabui_item:active {
      background: #212121; }
    .tabui .tabui_item--default {
      background: #3A3A3A; }
    .tabui .tabui_item--active {
      background: #212121;
      border-bottom: 2px solid #923939; }

.notice {
  background: #3A3A3A;
  color: #DDCA7E;
  padding: .5em; }

.success {
  color: #70AE47;
  padding: 10px;
  background: rgba(112, 174, 71, 0.22);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  .success:before {
    content: "\e926";
    font-family: icomoon;
    vertical-align: middle; }

.error {
  padding: 10px;
  color: #D8AF43;
  background: rgba(216, 175, 67, 0.15);
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.1); }
  .error:before {
    content: "\f02d";
    font-family: icomoon;
    vertical-align: middle; }

.error_txt {
  color: #D8AF43; }
  .error_txt:before {
    content: "\f02d";
    font-family: icomoon;
    vertical-align: middle; }

.blank_state {
  background: #3A3A3A;
  padding: 10px; }
  .blank_state:before {
    content: "\e908";
    font-family: icomoon;
    vertical-align: middle; }

@keyframes heartbeat {
  from {
    transform: scale(1); }
  to {
    color: #212121;
    transform: scale(1.2); } }
@-webkit-keyframes heartbeat {
  from {
    -webkit-transform: scale(1); }
  to {
    color: #212121;
    -webkit-transform: scale(1.2); } }
.icon-heart,
.icon-heartbeat {
  color: #FF97A3;
  font-size: 2em;
  cursor: pointer;
  display: inline-block;
  margin: 10px;
  background: -webkit-linear-gradient(left, #FF98A3, #ff5454);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.icon-heart:hover,
.icon-heartbeat:hover {
  animation: 0.7s heartbeat 3;
  -webkit-animation: 0.7s heartbeat 3;
  animation-timing-function: ease;
  -webkit-animation-timing-function: ease; }

.main {
  width: 74%;
  float: right;
  vertical-align: top;
  border-left: 1px solid #3A3A3A;
  padding-left: 50px; }

.sidebar {
  float: left;
  width: 15%;
  margin-top: 40px;
  position: fixed;
  font-size: 22px; }
  .sidebar a {
    display: block;
    margin: 10px 0; }

.sidebar,
.main {
  margin-top: 5em; }

.white_theme textarea {
  background: #C1C1C1;
  color: #262626; }

.hover_state {
  color: #FF97A3;
  text-decoration: underline;
  cursor: pointer; }

h1.section_title {
  font-size: 35px;
  font-weight: 100;
  text-decoration: underline; }

code {
  padding: 5px;
  display: block; }

.btn_sizes li {
  margin-right: 7px;
  display: inline-block;
  vertical-align: top; }

.example-item {
  height: 8em;
  width: 8em;
  display: inline-flex;
  border: 1px solid #212121; }

.examplecontainer {
  display: inline-flex;
  width: 40%;
  align-items: center; }
  .examplecontainer p {
    margin-left: .5em; }

/*# sourceMappingURL=main.css.map */
