@font-face {
    /* Must use url relative to root since font's are loaded via Browser; not inluded via sassc*/
    font-family: 'icomoon';
    src:    url('fonts/icomoon/icomoon.eot?356zsd');
    src:    url('fonts/icomoon/icomoon.eot?356zsd#iefix') format('embedded-opentype'),
        url('fonts/icomoon/icomoon.ttf?356zsd') format('truetype'),
        url('fonts/icomoon/icomoon.woff?356zsd') format('woff'),
        url('fonts/icomoon/icomoon.svg?356zsd#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-camera:before {
    content: "\e91c";
}
.icon-video-camera:before {
    content: "\e91e";
}
.icon-time:before {
    content: "\e914";
}
.icon-angle-down:before {
    content: "\e91b";
}
.icon-tag:before {
    content: "\e91a";
}
.icon-minus:before {
    content: "\e912";
}
.icon-plus:before {
    content: "\e913";
}
.icon-arrow-up:before {
    content: "\e910";
}
.icon-plus-circle:before {
    content: "\e915";
}
.icon-delete:before {
    content: "\e911";
}
.icon-menu:before {
    content: "\e90f";
}
.icon-user-check:before {
    content: "\e918";
}
.icon-user-plus:before {
    content: "\e919";
}
.icon-download:before {
    content: "\e90e";
}
.icon-remove:before {
    content: "\e921";
}
.icon-inbox:before {
    content: "\e91d";
}
.icon-eye:before {
    content: "\e922";
}
.icon-comments:before {
    content: "\e923";
}
.icon-heartbeat:before {
    content: "\e924";
}
.icon-check:before {
    content: "\e926";
}
.icon-angle-right:before {
    content: "\e927";
}
.icon-angle-double-right:before {
    content: "\e928";
}
.icon-angle-left:before {
    content: "\e92a";
}
.icon-angle-double-left:before {
    content: "\e92b";
}
.icon-pencil:before {
    content: "\e92c";
}
.icon-reply:before {
    content: "\89";
}
.icon-arrow-right:before {
    content: "\e603";
}
.icon-alert:before {
    content: "\f02d";
}
.icon-pin:before {
    content: "\f041";
}
.icon-question:before {
    content: "\f02c";
}
.icon-star:before {
    content: "\f02a";
}
.icon-home:before {
    content: "\e900";
}
.icon-bell:before {
    content: "\e901";
}
.icon-spinner:before {
    content: "\e902";
}
.icon-cog:before {
    content: "\e903";
}
.icon-upload:before {
    content: "\e916";
}
.icon-flag:before {
    content: "\e904";
}
.icon-star-empty:before {
    content: "\e905";
}
.icon-heart:before {
    content: "\e906";
}
.icon-heart-broken:before {
    content: "\e907";
}
.icon-tongue:before {
    content: "\e908";
}
.icon-sleepy:before {
    content: "\e909";
}
.icon-frustrated:before {
    content: "\e90a";
}
.icon-info:before {
    content: "\e917";
}
.icon-play:before {
    content: "\e90b";
}
.icon-pause:before {
    content: "\e90c";
}
.icon-loop:before {
    content: "\e90d";
}
.icon-shuffle:before {
    content: "\e920";
}
.icon-user:before {
    content: "\e971";
}
.icon-rewind:before {
    content: "\ea21";
}
.icon-fast-forward:before {
    content: "\ea22";
}
.icon-previous:before {
    content: "\ea23";
}
.icon-next:before {
    content: "\ea24";
}
.icon-search:before {
    content: "\e036";
}
.icon-chevron-thin-down:before {
    content: "\e60e";
}
