// Buttons
$btn-sm: .3em 1.5em .3em 1.5em;
$btn-lg: 1em 6em 1em 6em;
$btn-size-default: 10px 25px 10px 25px;

@mixin btn {
  text-align: center;
  cursor: pointer;
  color: $secondary-lighter;
  outline: none;

  &,
  &:link,
  &:visited,
  &:hover {
    color: inherit;
  }
}

.l-btn {
  @include btn;

  padding: $btn-size-default;
  border: 1px solid darken($primary-dark, 4%);
  background: $primary-dark;

  &:hover {
    background: darken($primary-dark, 4%);
  }
}

.l-btn-secondary {
  @include btn;

  padding: $btn-size-default;
  border: 0;
  background: $secondary-light;

  &:hover {
    background: $secondary-darker;
  }
}

.l-btn-ghost {
  @include btn;

  padding: $btn-size-default;
  border: 1px solid $secondary-light;
  background: transparent;

  &:hover {
    border: 1px solid $secondary-lighter;
  }
}

.l-btn-disabled {
  padding: $btn-size-default;
  outline: 0;
  opacity: .2;
  cursor: not-allowed;
  focus: none;
}

.l-btn--small {
  padding: $btn-sm;
}

.l-btn--large {
  padding: $btn-lg;
}

.l-btn--medium {
  padding: $btn-size-default;
}

/** Submit Button */
.l-btn--submit {
  width: 120px;
}

.l-btn--submit-icon {
  display: inline-block;
  width: 15px;
  margin-right: 10px;
}

.l-btn--submit-text {
  display: inline-block;
  height: 20px;
}

.l-btn--submit-content {
  display: inline-block;
  height: 20px;
  position: relative;
  text-align: center;
  top: 25%;
  width: 100%;
}