// Checkboxes

.l-checkbox {
  border: 1px solid $secondary-light;
  border-radius: 0;
  float: left;
  height: 25px;
  margin-right: 0.3em;
  width: 25px;
  -webkit-appearance: none;

  &:checked:after {
    color: $primary-color;
    content: "\e926";
    display: inline-block;
    font-family: 'Icomoon';
    padding: 4px 7px;
    transform: scale(1.4);
    transition: 0.5s all;
  }
}

.l-checkbox + label {
  margin-left: .3rem;
}