// Checkboxes

.l-checkbox-wrapper {
  cursor: pointer;
  transition: 400ms;
  padding: 0.5rem;
  * {
    cursor: pointer;
  }
  &:hover {
    .l-checkbox{
      border: 1px solid $ui-faded-red;
    }
  }
}

.l-checkbox {
  border: 1px solid $secondary-lighter;
  border-radius: 0;
  float: left;
  height: 25px;
  margin-right: 0.3em;
  width: 25px;
  -webkit-appearance: none;
  outline: 0;

  &:checked:after, &--checked:after {
    color: $primary-color;
    content: "\e926";
    display: inline-block;
    font-family: 'Icomoon';
    padding: 4px 7px;
    transform: scale(1.4);
    transition: 0.5s all;
  }
}

.l-checkbox + label {
  margin-left: .3rem;
}