// Radio Inputs
.l-radio-wrapper {
  cursor: pointer;
  transition: 400ms;
  padding: 0.5rem;
  * {
    cursor: pointer;
  }
  &:hover{
    background: $ui-faded-red;
  }
}

.l-radio {
  background: transparent;
  border: 2px solid $secondary-light;
  border-radius: 50%;
  height: 20px;
  vertical-align: top;
  width: 20px;
  -webkit-appearance: none;
  outline: 0;

  &:checked {
    background: $primary-color;
    border: 4px solid $secondary-light;
    transition: 0.08s all;
  }
}

.l-radio + label {
  margin-left: .5rem;
}