// Select
.l-select-wrapper {
  position: relative;
  transition: .4s;

  // Dropdown icon
  &::after {
    content: '\e60e';
    font-family: 'icomoon';
    font-size: 1.3rem;
    height: 12px;
    opacity: .3;
    pointer-events: none;
    position: absolute;
    right: 10px;
    top: 7px;
  }
}

// Default state

.l-select {
  @include l-form-ui;
  border: 0;
  border-radius: 0;
  color: $secondary-lightest;
  outline: none;
  padding: .7rem;
  width: 100%;
  appearance: none;
  -webkit-appearance: none;

  // For IE 11+
  &::-ms-expand {
    display: none;
  }
}

.l-select-dd {
  position: absolute;
  z-index: 1;

  ul {
    padding: 0;
  }

  li {
    background: $secondary-light;
    list-style-type: none;
    padding: 1rem;

    &:hover {
      background: darken($secondary-light, 5%);
    }
  }
}