// Textarea

.l-textarea {
  background: $secondary-light;
  border: 1px solid $secondary-light;
  box-shadow: $dark-box-shadow;
  color: $secondary-lighter;
  font-size: 14px;
  min-height: 135px;
  min-width: 100%;
  padding: 10px;

  &:focus {
    background: $secondary-dark;
    outline: none;
  }
}

.l-inverse {
  background: $secondary-lighter;
  color: $secondary-color;

  &:focus {
    background: $secondary-lighter;
    outline: none;
  }
}
