@keyframes add-item {
  from {
    transform: scale(0, 0);
  }

  75% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes remove-item {
  from {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(0, 0);
  }
}


.list__item--appear {
  animation-name: add-item;
  animation-duration: 500ms;
}

.list__item--enter {
  animation-name: add-item;
  animation-duration: 500ms;
}

.list__item--leave {
  background: #bf4a3c;
  animation-name: remove-item;
  animation-duration: 520ms;
}

