@keyframes add-item {
  from {
    transform: scale(0, 0);
  }

  75% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(1, 1);
  }
}

@keyframes remove-item {
  from {
    transform: scale(1, 1);
  }

  25% {
    transform: scale(1.1, 1.1);
  }

  to {
    transform: scale(0, 0);
  }
}


.list__item--appear {
  animation-name: add-item;
  animation-duration: 500ms;
}

.list__item--enter {
  animation-name: add-item;
  animation-duration: 500ms;
}

.list__item--leave {
  background: #bf4a3c;
  animation-name: remove-item;
  animation-duration: 520ms;
}


/** Can only use on images */
@keyframes kenburns {
    0% {
      opacity: 0;
    }
    5% {
      opacity: 1;
    }
    95% {
        transform: scale3d(1.5, 1.5, 1.5) translate3d(-190px, -120px, 0px);

        animation-timing-function: ease-in;
        opacity: 1;
    }
    100% {
        transform: scale3d(2, 2, 2) translate3d(-170px, -100px, 0px);
        opacity: 0;
    }
}