// Buttons

button,
.btn {
  @include btn;
  background: $primary-dark;
  border: 1px solid transparent;

  &:hover{
    background: darken($primary-dark, 4%);
  }
}

.btn_secondary {
  @include btn;
  background: $secondary-light;
  border: 1px solid transparent;

   &:hover{
      background: darken($secondary-light, 10%);
      color: $secondary-lighter;
  }
}
.btn_tertiary {
  @include btn;
    border: 1px solid $secondary-light;
    color: $secondary-lighter;
    padding: $btn-size-default;

    &:hover{
      border: 1px solid $secondary-lighter;
      color: $secondary-lighter;
    }
}

.btn.small,
.btn_secondary.small,
.btn_tertiary.small {
  padding: $btn-small;
}

.btn_disabled {
  opacity: 0.5;
}
