//Select

select {
  @include form-ui;

  -webkit-appearance: none;
  color: $primary-color-dark;
  width: 120px;
  border-radius: 0;
  border: 0;
  padding: 5px;

  &:after{
    content:'\e91b' ;
    font-family: 'icomoon';
  }
}

// Select

.mt_selectwrapper {
  position: relative;

  // Dropdown icon
  &::after {
    background-image: $mt_dropdown-icon;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    content: '';
    height: $mt_dropdown-height;
    margin-right: $mt_unit;
    opacity: .3;
    width: $mt_dropdown-width;
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 15px;
  }

  &--fullwidth {
    width: 100%;
  }
}

// Default state
.mt_select {
  appearance: none;
  background: $mt_color-neutral-xxxl;
  border: $mt_border-default;
  border-radius: 0;
  color: $mt_color-neutral-l;
  padding: $mt_fs-sm $mt_fs-sm;
  width: 100%;

  // Selected state
  &:focus {
    color: $mt_color-neutral-xd;
  }

  // Hover state
  &:hover {
    border: $mt_border-default-hover;
  }

  // For IE 11+
  &::-ms-expand {
    display: none;
  }
}

// For firefox
.mt_selectoption {
  color: $mt_color-neutral-xd;
}
