// Select
.l-select-wrapper {
  position: relative;
  transition: .4s;

  // Dropdown icon
  &::after {
    height: 12px;
    opacity: .3;
    position: absolute;
    pointer-events: none;
    right: 10px;
    top: 15px;
    content:'\e91b' ;
    font-family: 'icomoon';
  }
}

// Default state

.l-select {
  @include form-ui;
  appearance: none;
  -webkit-appearance: none;
  border-radius: 0;
  width: 100%;
  border: 0;
  padding: 1rem;
  color: $secondary-lightest;

  // For IE 11+
  &::-ms-expand {
    display: none;
  }
}

.l-select-dd {
  display: none;
  position: absolute;
  z-index: 1;

  ul {
    padding: 0;
  }

  li {
    background: $primary-dark;
    padding: 1rem;
    list-style-type: none;
  }
}

.l-fullwidth {
  width: 100%;
}