// Tabs

.tabui {
  border-bottom: 2px solid $secondary-color-light;

  .tabui_item {
    text-align: center;
    display: inline-block;
    vertical-align: top;
    background: $secondary-color-light;
    min-width: 120px;
    margin-left: -2px;
    padding: 5px;
    cursor: pointer;

    &:hover, &:active {
      background: $secondary-color-dark;
    }

    &--default {
    background: $secondary-color-light;
    }

    &--active{
      background: $secondary-color-dark;
      border-bottom: 2px solid $primary-color-dark;
    }
  }
}
