// Custom reset

html {
  box-sizing: border-box;
  touch-action: manipulation; // remove 300ms delay on touch-events even w/o a proper viewport setting
}

*, *:before, *:after {
  box-sizing: border-box;
}

ul {
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
}

// Base

body {
  background: $secondary-dark;
  color: $secondary-lighter;
  font: normal 15px/1.5 $branding;
  margin: 0;
}

a,
a:link,
a:visited {
  color: $primary-color;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.header {
  background: $secondary-darker;
  padding: 1rem;

  /* Sticky will hit IE edge soonish?, It's in Firefox & Safari, and its coming to Chrome by end of year*/
  position: sticky;
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -ms-sticky;
  position: -o-sticky;

  @media #{$l-mq-lg} {
    top: 0;
    width: 100%;
    z-index: 3;
    padding: 0;
  }
}


.logo {
  float: left;
  margin: 0;
}

.nav-list {
  margin: 0;
  padding: 0;
  clear: both;
  display: none;
  font-size: 12px;
  text-transform: uppercase;

  @media #{$l-mq-lg} {
    display: block;
    clear: none;
  }
}

.nav-item {
  @media #{$l-mq-lg} {
    display: inline-block;
    vertical-align: top;
    margin-left: 1rem;
    border-bottom: 1px solid transparent;
  }

  a {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding: 1rem .7rem;

    &,
    &:link,
    &:visited {
      color: $secondary-lighter;
    }
    &.active,&:active{
       background: $primary-dark;
    }
    &:hover {
      text-decoration: none;
    }
  }

  &:hover {
    border-bottom: 1px solid $primary-color;
    color: $secondary-lightest;
    text-decoration: none;
  }
}

#nav-icon-menu {
  float: right;
  font-size: 2rem;

  @media #{$l-mq-lg} {
    display: none;
  }
}

.nav-dropdown {
  background: $secondary-darkest;
  display: none;
  max-width: 300px;
  padding: 1rem;
  position: relative;

  > li {
    margin: 1rem 1rem;
  }

  .nav-list:hover & {
    display: block;
    position: absolute;
    top: 0;
    top: 100%;
  }
}

//
//
//.pg-container {
//  @media #{$l-mq-lg} {
//    max-width: 80vw;
//    margin: auto;
//    position: relative;
//  }
//}
//
//  Footer

.footer {
  background: $secondary-dark;
  border-bottom: 2px solid $secondary-light;
  height: 5em;
}

// Helpers

.l-align {
  &--horizontal {
    margin: 0 auto;
  }

  &--abscenter {
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

.l-center-txt {
  text-align: center;
}

.l-float-left {
  float: left;
}

.l-float-right {
  float: right;
}

.l-clear {
  clear: both;
}

.l-inline {
  display: inline-block;
}

.l-hidden {
  display: none;
}

.l-relative {
  position: relative;
}

.l-border-default {
  border: 1px solid $secondary-light;
}

.l-no-margin {
  margin: 0;
}

.l-no-padding {
  padding: 0;
}

$dark-box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.10);

.l-box-shadow {
  box-shadow: $dark-box-shadow;
}

.l-horizontal-display {
  * {
    display: inline-block;
    vertical-align: middle;
  }
}

.l-vertical-display {
  * {
    display: block;
  }
}