// Links

.l-txt-link {
  &,
  &:link,
  &:visited,
  &:hover {
    color: $primary-color;
    text-decoration: underline;
    cursor: pointer;
  }
}

.l-white-link {
  &,
  &:link,
  &:visited {
    text-decoration: underline;
    color: $secondary-lighter;
    cursor: pointer;
  }
  &:hover {
    color: $secondary-lightest;
  }
}