// Menus
.l-menu {
	&--horizontal {
		// Your code here
	}

	&--vertical {
		margin-left: 0;
  	padding-left: 0;

		li {
			list-style-type: none;
		}

		a {
			font-size: 1rem;
			display: block;
			margin: 10px 0;
		}
	}
}
