// Menus
.l-menu {
  &--vertical {
    margin-left: 0;
    padding-left: 0;

    li {
      list-style-type: none;
    }

    a {
      display: block;
      font-size: 1rem;
      margin: 10px 0;
    }
  }
}
