// Notices
.l-notice {
  background: $secondary-light;
  color: $ui-yellow-light;
  padding: .5rem;
}

// States
.l-success {
  color: $ui-green;
  padding: .5rem;

  &:before {
    content: "\e926";
    font-family: icomoon;
    margin-right: .2rem;
    vertical-align: middle;
  }
}

.l-error {
  color: $ui-yellow;
  padding: .5rem;
  transition: 400ms;

  &:before {
    content: "\f02d";
    font-family: icomoon;
    margin-right: .2rem;
    vertical-align: middle;
  }
}

.l-blank-state {
  background: $secondary-light;
  padding: .5rem;

  &:before {
    content: "\e908";
    font-family: icomoon;
    margin-right: .2rem;
    vertical-align: middle;
  }
}
